.section-team {
    background-color: $grey-bg-color;
    width: 100%;
}

.section-team__title {
    @extend %title;
}

.team-list {
    // display: flex;
    margin-left: -30px;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: -30px;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.team-list__item {
    background-color: $primary-bg-color;
    max-width: 450px;
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 2 - 30px);
        margin-bottom: 30px;

    }

    @media screen and (min-width: 1200px) {
     flex-basis: calc(100% / 4 - 30px);
    }
}

.team-list__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    // width: 270px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.team-list__name {
    color: $titile-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    padding-bottom: 10px;
}

.team-list__profession {
    font-size: 16px;
    line-height: 1.19;
    padding-bottom: 16px;
}

.social-list {
    @extend %centeredFlex;
}

.social-list__item {
    width: 44px;
    height: 44px;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social-list__link {
    @extend %centeredFlex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: $icon-bg-color;
    background-color: $primary-bg-color;
    transition: color $transition-duration $overlay-cubic,
        background-color $transition-duration $overlay-cubic;

    &:hover,
    &:focus {
        color: $primary-bg-color;
        background-color: $focus-button-bg-color;
    }
}

.social-list__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}
