    $primary-text-color: #757575;
    $titile-text-color: #212121;
    $white-text-color: #FFFFFF;
    $accent-text-color: #2196F3;

    $primary-bg-color: #ffffff;
    $black-logo-color: #000;
    $grey-bg-color: #F5F4FA;
    $button-bg-color: #F5F4FA;
    $focus-button-bg-color: #2196F3;
    $focus-button-bg-color-order: #188CE8;
    $icon-bg-color: #AFB1B8;

    $overlay-cubic: cubic-bezier(0.4, 0, 0.2, 1);
    $transition-duration: 250ms;


